@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// * {
//   outline: 1px green solid;
// }

body {
  font-family: "Poppins", sans-serif;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 50vw;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}
input {
  width: 100%;
  height: 30px;
}
.addBtn {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
}
.list {
  padding-top: 30px;
}
.item {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  border: 0;
  background-color: rgb(212, 101, 101);
  color: #fff;
  padding: 10px;
}
